@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, textarea, button {
  font-family: 'Comfortaa', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 5rem 4rem;
  background-color: #606060;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: filter .4s;
}

button:hover {
  filter: brightness(0.8);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3rem;
}

.notes {
  flex: 2;
  display: flex;
  gap: 3rem;
}

.note {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.6);
}

.toolbar {
  width: 100%;
  height: 3rem;
  background-color: #49069F;
  border-radius: 10px 10px 0px 0px;
  padding: 0 .7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.btn-tool {
  background-color: transparent;
  font-size: 1.3rem;
  color: #00774C;
  text-shadow: 0px 0px 20px #ffffffcc;
}

.text {
  width: 100%;
  height: 100%;
  padding: .7rem;
}

.text textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}




